<!DOCTYPE html>
<html>
<head>
<style>

h1, h2, h3, div {
	font-family: arial, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<script src="../assets/angular/angular.min.js"></script>
<script src="../assets/angular/i18n/angular-locale_it-it.js"></script>

<body>

<div ng-app="auctionAppp" ng-controller="auctionCtrl">

	<h1>Aste S.p.A. - Piattaforma Aste Online</h1>
	
	<h2>Benvenuto {{userProfile.username + " (" + userProfile.email + ")"}}</h2>
	
	<h3>Aste attive</h3>

	<table>
	  <tr>
	    <th>Titolo</th>
	    <th>Descrizione</th>
	    <th>Data Inizio</th>
	    <th>Data Fine</th>
	    <th>Azioni</th>
	  </tr>	  
	  
	  <tr ng-repeat="auction in auctions">
	    <td>{{auction.title}}</td>
	    <td>{{auction.description}}</td>
	    <td>{{auction.startAuction | date:'dd/MM/yyyy HH:mm:ss'}}</td>
	    <td>{{auction.endAuction | date:'dd/MM/yyyy HH:mm:ss'}}</td>
	    <td><button ng-click="loadAuction(auction.oid)">seleziona</button></td>
	  </tr>
	 
	</table>
	
	<div ng-if="selectedAuction">
	
		<h3>Asta Selezionata: {{selectedAuction.oid}}</h3>		
		
		<table>
		
		 <tr>
		    <th>Titolo</th>
		    <td>{{selectedAuction.title}}</th>
		  </tr>
		  
		  <tr>
		    <th>Descrizione</th>
		    <td>{{selectedAuction.description}}</th>
		  </tr>
		  
		  <tr>
		    <th>Attuale migliore offerta ({{selectedAuction.pricing}})</th>
		    <td>{{selectedAuction.currentWinningPrice | currency}}</td>
		  </tr>
		  
		  <tr>
		    <th>Fai un'offerta</th>
		    <td>
		    	<input type="text" name="bidPrice" 
		    	placeholder="{{selectedAuction.currentWinningPrice}}"
       			ng-model="bidPrice" currency-mask />
		    	<button ng-click="addBid(bidPrice)">conferma</button>
		    </td>
		  </tr>
		  
		  <tr>
		    <th>Data Inizio</th>
		    <td>{{selectedAuction.startAuction | date:'dd/MM/yyyy HH:mm:ss'}}</td>
		  </tr>		  
		  <tr>
		    <th>Data Fine</th>
		    <td>{{selectedAuction.endAuction | date:'dd/MM/yyyy HH:mm:ss'}}</td>
		  </tr>
		  <tr>
		    <th>Prodotto</th>
		    <td>{{selectedAuction.product.descrition}}</td>
		  </tr>
		  <tr>
		  	<th>Fornitore</th>
		  	<td>{{selectedAuction.supplier.info}} - {{selectedAuction.supplier.email}} - ({{selectedAuction.supplier.address.postCode}}) {{selectedAuction.supplier.address.address}} {{selectedAuction.supplier.address.city}}</td>
		  </tr>
		  
		  <tr ng-repeat="imageOid in selectedAuction.productImages">
		  	<th>Immagine</th>
		  	<td><img src="../rest/auction/getImage/{{selectedAuction.oid}}/{{imageOid}}" /></td>
		  </tr>
		   
		</table>
	
	</div>
	

</div>


<script>
var app = angular.module('auctionAppp', []);


app.controller('auctionCtrl', function($scope, $http, $interval) {
	
	
	$scope.loadUserProfile = function(){
		var response = $http.get('../rest/user/get');
		
		response.success(function(data, status, headers, config) {
			 $scope.userProfile = data;
		});
		
	};
	
	$scope.loadAuctions = function(){
		var response = $http.get('../rest/auction/list');
		
		response.success(function(data, status, headers, config) {
			 $scope.auctions = data;
		});
		
	};
	
	$scope.loadAuction = function(oid){
		var response = $http.get('../rest/auction/get/' + oid);
		
		response.success(function(data, status, headers, config) {
			 $scope.selectedAuction = data;
		});
		
	};
	
	$scope.addBid = function(bidPrice){
		
		var parameter = JSON.stringify({auctionOid:$scope.selectedAuction.oid, 
		auctionVersion:$scope.selectedAuction.version, price:bidPrice});
		
		var response = $http.post('../rest/auction/addBid/',parameter);
		
		
	} 
	
	
	//initial load
	$scope.loadUserProfile();	
	$scope.loadAuctions();	
	
	//refresh data every 5 seconds
	//$interval( function(){ $scope.loadUserProfile(); $scope.loadAuctions(); $scope.loadAuctions(selectedAuction.oid);}, 5000);
    
});


</script>

</body>
</html>